<configuration>
    <!-- Define la configuración del patrón para los logs -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- Consola appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>



    <!-- Nivel de logging -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
