<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
  Fragmentos de Google Tag Manager para páginas públicas.
  Se renderizan solo si la propiedad 'gtm.container-id' está configurada
  en application.properties o application-prod.properties.

  Uso en templates:
  HEAD (antes de </head>):
  <th:block th:replace="~{fragments/google-analytics :: gtm-head}"/>

  BODY (después de <body>):
  <th:block th:replace="~{fragments/google-analytics :: gtm-body}"/>

  Configuración en application-prod.properties:
  gtm.container-id=GTM-M6LST3P3
-->
<!-- Fragmento HEAD: script de GTM -->
<th:block th:fragment="gtm-head" th:with="gtmId=${@environment.getProperty('gtm.container-id')}">
    <th:block th:if="${gtmId != null and !gtmId.isBlank() and gtmId != 'undefined'}">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','[[${gtmId}]]');</script>
        <!-- End Google Tag Manager -->
    </th:block>
</th:block>

<!-- Fragmento BODY: noscript de GTM -->
<th:block th:fragment="gtm-body" th:with="gtmId=${@environment.getProperty('gtm.container-id')}">
    <th:block th:if="${gtmId != null and !gtmId.isBlank() and gtmId != 'undefined'}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe th:src="'https://www.googletagmanager.com/ns.html?id=' + ${gtmId}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    </th:block>
</th:block>

<!-- Fragmento HEAD: Google Analytics 4 (gtag.js) -->
<!-- Se usa como alternativa/complemento a GTM. Requiere 'ga.measurement-id' en properties. -->
<th:block th:fragment="ga4-head" th:with="gaId=${@environment.getProperty('ga.measurement-id')}">
    <th:block th:if="${gaId != null and !gaId.isBlank() and gaId != 'undefined'}">
        <!-- Google tag (gtag.js) -->
        <script async th:src="'https://www.googletagmanager.com/gtag/js?id=' + ${gaId}"></script>
        <script th:inline="javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', /*[[${gaId}]]*/ 'G-XXXXXXXXXX');
        </script>
    </th:block>
</th:block>
</html>