
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        
		<title>MusicOn</title>
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="mobile-web-app-capable" content="yes" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">	
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link th:href="@{/mdb/css/mdb.min.css}" rel="stylesheet"></link>		
		<link th:href="@{/css/main.css}" rel="stylesheet"></link>
		
    </div>
</head>
<body>
<div th:fragment="header">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <div class="container">
	        <a class="navbar-brand logo-font" th:href="@{/}" id="brand">
	            MusicOn
	        </a>
	        <!-- links toggle -->
	        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#links" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	            <i class="fa fa-bars"></i>
	        </button>

	        
	        <div class="collapse navbar-collapse" id="links">
	            <ul class="navbar-nav mr-auto">
					<div sec:authorize="hasAuthority('USUARIOS')">
						<li class="nav-item">
							<a class="nav-link" th:href=@{/usuarios}>Usuarios</a>
						</li>
					</div>
	            	<div sec:authorize="!isAuthenticated()">
		            	<li class="nav-item">
		            		<a class="nav-link" th:href=@{/login}>Iniciar sesión</a>	            		
		           		</li>
	           		</div>
					<div sec:authorize="isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href=@{/login?logout}>Log out</a>
						</li>
					</div>
	            </ul>
	        </div>

	    </div>
	</nav>

	
</div>
<div th:fragment="footer">
	
      <script type="text/javascript"
              th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/mdb/js/mdb.min.js}"></script>
      <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
      <script type="text/javascript"
              th:src="@{/bootstrap-notify-3.1.3/bootstrap-notify.min.js}"></script>        
      <script type="text/javascript" th:src="@{/js/scripts.js}"></script>

      </footer>
    

</div>
</body>
</html>