<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Gestmusica</title>
	<meta property="og:title" content="Gestmusica" />
	<meta property="og:description" content="Plataforma profesionales del espectáculo" />
	<meta property="og:image" th:src="@{/logo/logo-name-transparente.png}"
		  content="https://gestmusica.onrender.com/logo.png"/>
	<meta property="og:url" content="https://gestmusica.onrender.com/"/>

    <div th:fragment="header-css">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Plataforma profesionales del espectáculo">
		<meta name="author" content="Gestmusica">

	    <meta http-equiv="x-ua-compatible" content="ie=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link th:href="@{/adminkit/css/light.css}" rel="stylesheet"></link>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
		<script th:src="@{/adminkit/flatpickr/es.js}"></script>
		<link th:href="@{/css/main.css}" rel="stylesheet"></link>
		<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">

	</div>
	<style>
		body {
			opacity: 0;
		}
	</style>
</head>
<body>



<div th:fragment="navbar">
	<nav class="navbar navbar-expand navbar-light navbar-bg nav-top-sticky">
		<a class="sidebar-toggle js-sidebar-toggle">
			<i class="hamburger align-self-center"></i>
		</a>

		<div class="navbar-collapse collapse">
			<ul class="navbar-nav navbar-align">

				<div class="sidebar-user">
					<div class="d-flex justify-content-center">
						<div class="flex-shrink-0">
							<img th:if="${imagenUsuarioAutenticado}!=null" th:src="${imagenUsuarioAutenticado}" class="avatar img-fluid rounded me-1" alt="Charles Hall">

							<img th:if="${imagenUsuarioAutenticado}==null" th:src="@{/img/avatars/avatar.jpg}" class="avatar img-fluid rounded me-1" alt="Charles Hall">
						</div>
						<div class="flex-grow-1 ps-2">
							<a class="sidebar-user-title dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								<a th:remove="tag" sec:authentication="name">Nombre usuario</a>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" th:href="@{/usuarios/mi-perfil}"><i class="align-middle me-1" data-feather="user"></i> Mi perfil</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" th:href="@{/ajustes}"><i class="align-middle me-1" data-feather="settings"></i> Configuración presupuestos</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item sign-out-alt" th:href=@{/logout}><i class="align-middle me-1" ></i>Log out</a>
							</div>
						</div>
					</div>
				</div>


			</ul>
		</div>
	</nav>
</div>

<div th:fragment="sidebar">
	<nav id="sidebar" class="sidebar js-sidebar">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand d-flex align-items-center" href="/">
				<img th:src="@{/logo/logo_transparente.png}" style="height: 32px; margin-right: 8px;"/>
				<span class="sidebar-brand-text">
					Gestmusica
				</span>
				<svg class="sidebar-brand-icon ms-2" width="32px" height="32px" viewBox="0 0 24 24" fill="none"
					 stroke="#FFFFFF" stroke-width="1.5"
					 stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF">
				<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
					<path d="M20 12L12 16L4 12"></path>
					<path d="M20 16L12 20L4 16"></path>
				</svg>
			</a>

			<ul class="sidebar-nav">
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/}">
						<i class="align-middle me-2 fas fa-fw fa-home"></i> <span class="align-middle">Inicio</span>
					</a>
				</li>
				<div>
					<li class="sidebar-header">
						Mi cuenta
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" th:if="${misAgencias != null and misAgencias.size() > 0}"
						   th:href="${#sets.size(misAgencias)==1 ? '/agencia/' + misAgencias[0] : '/agencia/mis-agencias'}">
							<i class="align-middle me-2 fas fa-fw fa-suitcase"></i>
							<span class="align-middle"
								  th:text="${#sets.size(misAgencias)==1 ? 'Mi agencia' : 'Mis agencias'}">Mis agencias</span>
						</a>
						<a class="sidebar-link" th:if="${misArtistas != null and misArtistas.size() > 0}"
						   th:href="${#sets.size(misArtistas)==1 ? '/artista/' + misArtistas[0] : '/artista/mis-artistas'}">
							<i class="align-middle me-2 fas fa-fw fa-music"></i>
							<span class="align-middle"
								  th:text="${#sets.size(misArtistas)==1 ? 'Mi artista' : 'Mis artistas'}">Mis artistas</span>
						</a>
						<a class="sidebar-link" th:href="@{/usuarios/mi-perfil}">
							<i class="align-middle me-2 fas fa-fw fa-user"></i> <span class="align-middle">Mi perfil</span>
						</a>
					</li>


				</div>
				<div sec:authorize="hasAuthority('MENU_LISTADOS')">
					<li class="sidebar-header">
						Fechas
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" th:href="@{/listado}">
							<i class="align-middle me-2 fas fa-fw fa-calendar-alt" ></i> <span class="align-middle">Listado presupuestos</span>
						</a>

						<a class="sidebar-link" sec:authorize="hasAuthority('AUDIENCIA_LISTADOS')" th:href="@{/listado/audiencia-listados}">
							<i class="align-middle me-2 fas fa-fw fa-chart-simple" ></i> <span class="align-middle">Audiencia presupuestos</span>
						</a>
						<a class="sidebar-link" th:href="@{/ajustes}">
							<i class="align-middle me-2 fas fa-fw fa-cog" ></i> <span class="align-middle">Configuración</span>
						</a>
					</li>

				</div>
				<li class="sidebar-header">
					Información general
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/agencia}">
						<i class="align-middle me-2 fas fa-fw fa-suitcase" ></i> <span class="align-middle">Agencias</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/artista}">
						<i class="align-middle me-2 fas fa-fw fa-music" ></i> <span class="align-middle">Artistas</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/representantes}">
						<i class="align-middle me-2 fas fa-fw fa-users" ></i> <span class="align-middle">Representantes</span>
					</a>
				</li>

				<div sec:authorize="hasAuthority('ACCESO_PANEL_ADMIN')">
					<li class="sidebar-header">
						Administración
					</li>
					<div sec:authorize="hasAuthority('USUARIOS')">
						<li class="sidebar-item">
							<a class="sidebar-link" th:href="@{/usuarios}">
								<i class="align-middle me-2 fas fa-fw fa-users"></i> <span class="align-middle">Usuarios</span>
							</a>
						</li>
					</div>
				</div>

			</ul>
		</div>
	</nav>
</div>

<div th:fragment="footer">

	<footer class="footer">
		<div class="container-fluid">
			<div class="row text-muted">
				<div class="col-6 text-start">
					<p class="mb-0">
						<a href="https://gestmusica.com/" target="_blank" class="text-muted"><strong>Gestmusica</strong></a> &copy;
					</p>
				</div>
				<div class="col-6 text-end">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a class="text-muted" href="mailto:gestmusica@gestmusica.com">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script th:src="@{/adminkit/js/app.js}"></script>
		<script th:src="@{/adminkit/flatpickr/es.js}"></script>
		<script th:src="@{/js/moment.js}"></script>
		<script th:src="@{/js/comun.js}"></script>
	</footer>


</div>
</body>
</html>