h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

footer{
    margin-top:60px;
}

card-max-width{
	max-width: 22rem;
}

  
@keyframes blur-in{
    from{
        opacity: 0;
        filter: blur(4px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}

.blur-in{
    animation-name: blur-in;
}

@keyframes blur-out{
    from{
        opacity: 1;
        filter: blur(0);
    }
    to{
        opacity: 0;
        filter: blur(4px);
    }
}

.blur-out{
    animation-name: blur-out;
}
@keyframes fade-in-left{
    from{
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-left{
    animation-name: fade-in-left;
}

  
@keyframes fade-in-right{
    from{
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-right{
    animation-name: fade-in-right;
}

@keyframes fade-in-down{
    from{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-down{
    animation-name: fade-in-down;
}

@keyframes fade-in-up{
    from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-up{
    animation-name: fade-in-up;
}

.button-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 10px;  
}

.vertical-align {
margin-top: auto;margin-bottom: auto;	
}

.horizontal-align {
margin-left: auto;margin-right: auto;	
}

