<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>festia.es</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <div th:replace="~{fragments/main-template :: header-css}"/>
    </head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
<div class="wrapper">

    <div th:replace="~{fragments/main-template :: sidebar}"/>
    <div class="main">

        <div th:replace="~{fragments/main-template :: navbar}"/>
        <main class="content">
            <div class="col-xs-12 mb-3" sec:authorize="hasAuthority('AGENCIA_CREAR')">
                <div class="d-flex justify-content-end">
                    <a th:href="@{/agencia/crear}" class="btn btn-primary"><i class="fas fa-plus"></i> Crear agencia</a>
                </div>
            </div>

            <div class="container-fluid p-0">


                <div class="row" th:if="${not #lists.isEmpty(listaAgencias)}">
                    <div class="mb-3">
                        <h1 class="h3 d-inline align-middle">Agencias</h1>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" th:each="agencia: ${listaAgencias}">
                        <div class="card card-max-width" style="height: 550px">
                            <div style="min-height: 340px; display: flex; align-items: center;">
                                <img class="card-img-top img-max-height" th:if="${agencia.logo!=null}"
                                     th:src="@{${agencia.logo}}" alt="Unsplash">
                            </div>
                            <div class="card-header px-4 pt-4">
                                <h5 class="card-title mb-0" th:text="${agencia.nombre}">Card with image and button</h5>
                            </div>
                            <div class="card-body" style="min-height: 80px;">
                                <p class="card-text" th:text="${agencia.descripcion}">Descripción</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1"><span class="fas fa-user fa-fw me-1"></span> <a
                                            th:href="@{/usuarios/__${agencia.idUsuario}__}"
                                            th:text="${agencia.nombreUsuario}"></a>
                                    </li>
                                </ul>
                                <div class="card-body text-center d-flex flex-column flex-sm-row justify-content-around">
                                    <a th:href="@{/agencia/__${agencia.id}__}" class="btn btn-pill btn-primary col-12">Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <div th:replace="~{fragments/main-template :: footer}"/>

    </div>
</div>

</body>

</body>
</html>
