<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>festia.es</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <div th:replace="~{fragments/main-template :: header-css}"/>

</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
<div class="wrapper">

    <div th:replace="~{fragments/main-template :: sidebar}"/>
    <div class="main">

        <div th:replace="~{fragments/main-template :: navbar}"/>
        <main class="content">
            <div class="container-fluid p-0">
                <a th:if="${agenciaDto.id!=null}" th:href="@{/agencia/__${agenciaDto.id}__}" class="btn btn-primary mt-n1"><i class="fas fa-arrow-left"></i> Volver a agencia</a>
                <a th:if="${agenciaDto.id==null}" th:href="@{/agencia}" class="btn btn-primary mt-n1"><i class="fas fa-arrow-left"></i> Volver a agencias</a>
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle"></h1>
                </div>

                <div th:if="${message}" th:class="${'alert alert-' + alertClass+ ' alert-dismissible fade show'}" role="alert">
                    <div class="alert-message">
                        <strong th:text="${message}">Hello there!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title" th:text="${agenciaDto.id==null ? 'Crear nueva agencia' : 'Editar agencia' }"></h5>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:object="${agenciaDto}" th:action=@{/agencia/guardar} enctype="multipart/form-data">

                                    <input hidden th:field="*{id}">
                                    <div class="mb-3 row required">
                                        <label class="col-form-label col-sm-3 text-sm-end">Nombre</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" id="nombre" required autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">CIF</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{cif}" placeholder="CIF" id="cif" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Descripción</label>
                                        <div class="col-sm-9">
                                            <input id="descripcion" class="form-control" th:field="*{descripcion}" placeholder="Texto que describa a la agencia" autocomplete="off"></input>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Administrador</label>
                                        <div class="col-sm-9">
                                            <select id="usuario" th:field="*{idUsuario}" class="form-control choices-single" required>
                                                <option th:each="usuario : ${listaUsuarios}" th:value="${usuario.id}" th:text="${usuario.nombreComercial != null and !usuario.nombreComercial.isEmpty()} ? ${usuario.nombreApellidos + ' (' + usuario.nombreComercial + ')'} : ${usuario.nombreApellidos}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Provincia</label>
                                        <div class="col-sm-9">
                                            <select id="provincia" th:field="*{idProvincia}" class="form-control choices-single" required>
                                                <option th:each="provincia : ${listaProvincias}" th:value="${provincia.id}" th:text="${provincia.nombre}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Localidad</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{localidad}" placeholder="Localidad" id="localidad" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">e-mail</label>
                                        <div class="col-sm-9">
                                            <input type="text" th:field="*{email}"class="form-control" data-inputmask="'alias': 'email'" />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Web</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{web}" placeholder="Web" id="web" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Teléfono</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{telefono}" placeholder="Teléfono" id="telefono" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Teléfono 2</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{telefono2}" placeholder="Teléfono 2" id="telefono2" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Teléfono 3</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{telefono3}" placeholder="Teléfono 3" id="telefono3" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Instagram</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{instagram}" placeholder="Instagram" id="instagram" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Facebook</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{facebook}" placeholder="Facebook" id="facebook" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Youtube</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" th:field="*{youtube}" placeholder="Youtube" id="youtube" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Logo</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="image" accept="image/*" class="form-control-file">
                                            <small class="form-text text-muted">Logo de la empresa. Tamaño ideal 327x250</small>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end pt-sm-0">Visibilidad de tarifas</label>
                                        <div class="col-sm-9">
                                            <label class="form-check m-0">
                                                <input type="checkbox"  th:field="*{tarifasPublicas}" class="form-check-input">
                                                <span class="form-check-label">Tarifas públicas</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end pt-sm-0" for="flexSwitchCheckChecked">Agencia activa</label>
                                        <div class="col-sm-9">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" th:field="*{activo}" id="flexSwitchCheckChecked" checked="" wfd-id="id17">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" th:if="${#authorization.expression('hasPermission(' + agenciaDto.id + ', ''AGENCIA'', ''AGENCIA_EDITAR'')')}" class="btn btn-primary" th:text="${agenciaDto.id==null ? 'Crear agencia' : 'Guardar' }">Botón</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{fragments/main-template :: footer}"/>

    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/js/agencias-detail.js}"></script>

</body>
</html>

