<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""><head>
    <div th:replace="~{fragments/main-template :: header-css}"/>

</head>
<body>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
<div class="wrapper">

    <div th:replace="~{fragments/main-template :: sidebar}"/>
    <div class="main">

        <div th:replace="~{fragments/main-template :: navbar}"/>
        <main class="content">
            <div class="container-fluid p-0">
                <a th:href="@{/artista}" class="btn btn-primary mt-n1"><i class="fas fa-arrow-left"></i> Volver a artistas</a>

                <div th:replace="~{fragments/modal-tarifas :: modal-tarifas}"/>
                <div th:replace="~{fragments/modal-incrementos :: modal-incrementos}"/>
                <div th:replace="~{fragments/modal-ocupaciones :: modal-ocupaciones}"/>
                <div th:replace="~{fragments/modal-tarifa-anual :: modal-tarifa-anual}"/>
                <div th:replace="~{fragments/modal-confirmacion :: modal-confirmacion}"/>
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle"></h1>
                </div>

                <div th:if="${message}" th:class="${'alert alert-' + alertClass+ ' alert-dismissible fade show'}" role="alert">
                    <div class="alert-message">
                        <strong th:text="${message}">Hello there!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-md-3 col-lg-3 order-2 order-lg-1">
                        <div class="card card-max-width">
                            <img class="card-img-top img-max-height" th:if="${artistaDto.logo!=null}"  th:src="@{${artistaDto.logo}}" alt="Unsplash">
                            <div class="card-header px-4 pt-4">
                                <h5 class="card-title mb-0" th:text="${artistaDto.nombre}">Card with image and button</h5>
                            </div>
                            <div class="card-body">
                                <input hidden id="idArtista" th:value="${artistaDto.id}"/>
                                <input hidden id="anoTarifa" th:value="${anoTarifa}"/>
                                <h5 class="card-text" th:if="${artistaDto.cif!=null}" th:text="${'CIF: '+ artistaDto.cif}">CIF</h5>

                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1"><span class="fas fa-suitcase fa-fw me-1"></span> <a th:href="@{/agencia/__${artistaDto.idAgencia}__}"  th:text="${artistaDto.nombreAgencia}"></a></li>
                                    <li class="mb-1"><span class="fas fa-user fa-fw me-1"></span> <a :href="#"  th:text="${artistaDto.nombreUsuario}"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.telefono!=null && artistaDto.telefono!=''}"><span class="fas fa-phone fa-fw me-1" ></span> <a th:href="${'tel:'+ artistaDto.telefono}"  th:text="${artistaDto.telefono}"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.telefono2!=null && artistaDto.telefono2!=''}"><span class="fas fa-phone fa-fw me-1" ></span> <a th:href="${'tel:'+ artistaDto.telefono2}"  th:text="${artistaDto.telefono2}"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.telefono3!=null && artistaDto.telefono3!=''}"><span class="fas fa-phone fa-fw me-1" ></span> <a th:href="${'tel:'+ artistaDto.telefono3}"  th:text="${artistaDto.telefono3}"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.email!=null && artistaDto.email!=''}"><span class="fas fa-envelope fa-fw me-1" ></span> <a th:href="${'mailto:'+ artistaDto.email}"  th:text="${artistaDto.email}"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.nombreCcaa!=null  && artistaDto.nombreCcaa!=''}"><span class="fas fa-map-marked fa-fw me-1" ></span> <span th:text="${artistaDto.nombreCcaa}"></span></li>
                                </ul>
                            </div>
                            <hr class="my-0">
                            <div class="card-body">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1" th:if="${artistaDto.web!=null && artistaDto.web!=''}"><span class="fas fa-globe fa-fw me-1" ></span> <a th:href="${'http://'+artistaDto.web}" th:target="_blank" th:text="${artistaDto.web}"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.facebook!=null && artistaDto.facebook!=''}"><span class="fab fa-fw fa-facebook" ></span> <a th:text="${artistaDto.facebook}" th:href="${'http://'+artistaDto.facebook}" th:target="_blank"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.instagram!=null && artistaDto.instagram!=''}"><span class="fab fa-fw fa-instagram" ></span> <a th:text="${artistaDto.instagram}" th:href="${'http://'+artistaDto.instagram}" th:target="_blank"></a></li>
                                    <li class="mb-1" th:if="${artistaDto.youtube!=null && artistaDto.youtube!=''}"><span class="fab fa-fw fa-youtube" ></span> <a th:text="${artistaDto.youtube}" th:href="${'http://'+artistaDto.youtube}" th:target="_blank"></a></li>
                                </ul>
                            </div>
                            <div class="card-body text-center">
                                <a th:href="@{/artista/edit/__${artistaDto.id}__}" class="btn btn-primary">Editar</a>
                            </div>
                        </div>

                    </div>



                    <div class="col-12 col-lg-6 order-1 order-lg-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="mb-3">
                                    <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#modalNuevaTarifa">
                                        <i class="far fa-calendar"></i> Nueva tarifa
                                    </button>
                                    <button type="button" id="btnModalNuevaOcupacion" class="btn btn-success mb-1" data-bs-toggle="modal" data-bs-target="#modalNuevaOcupacion">
                                        <i class="far fa-calendar-plus"></i> Nueva ocupación
                                    </button>
                                    <button id="btn-incrementos" type="button" class="btn btn-secondary mb-1" data-bs-toggle="modal" data-bs-target="#modalIncrementos">
                                        <i class="fa fa-eur"></i> Incrementos provinciales
                                    </button>
                                    <a type="button" id="btn-tarifa-anual" data-bs-toggle="modal" data-bs-target="#modalTarifaAnual" class="btn btn-info mb-1">
                                        <i class="far fa-calendar-plus"></i> Tarifa anual
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </main>
        <div th:replace="~{fragments/main-template :: footer}"/>

    </div>
</div>

</body>
<script th:src="@{/adminkit/js/fullcalendar.js}"></script>

<script type="text/javascript" th:src="@{/js/artistas.js}"></script>
<script type="text/javascript" th:src="@{/js/comun.js}"></script>

</body>
</html>