<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/mail-header :: header}"></div>
</head>
<body>
<div class="container">
    <div class="header">
        <h1 th:text="${titulo}">festia.es</h1>
        <p th:text="${subtitulo}"></p>
    </div>
    <div class="content">
        <p class="message" th:text="${mensaje}">Aquí va el mensaje principal</p>
    </div>
    <div class="footer">
        <p>Este es un mensaje automático de <strong>festia.es</strong></p>
        <p>Desde festia.es <strong>nunca te enviaremos emails con enlaces</strong>.</p>
    </div>
</div>
</body>
</html>
