<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{fragments/main-template :: header-css}"/>
</head>
<body>
<div th:replace="~{fragments/main-template :: header}"/>
<h1 th:inline="text">Bienvenido <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<!--<p>Roles: <span sec:authentication="principal.authorities"></span></p>-->


<div th:replace="~{fragments/main-template :: footer}"/>
</body>
</html>