<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""><head>
    <div th:replace="~{fragments/main-template :: header-css}"/>

</head>
<body>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
<div class="wrapper">

    <div th:replace="~{fragments/main-template :: sidebar}"/>
    <div class="main">

        <div th:replace="~{fragments/main-template :: navbar}"/>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Presupuestos</h1>
                </div>

                <div th:if="${message}" th:class="${'alert alert-' + alertClass+ ' alert-dismissible fade show'}" role="alert">
                    <div class="alert-message">
                        <strong th:text="${message}">Hello there!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <form id="formGenerarListado" method="POST" th:object="${listadoDto}" th:action=@{/listado/generar} autocomplete="off">

                <div class="row">
                    <div class="col-12 col-lg-6 order-1 order-lg-2">


                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Presupuesto para</h5>
                                </div>
                                <div class="card-body text-center">
                                <div class="mb-3">

                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Solicitado para</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" th:field="*{solicitadoPara}" placeholder="Solicitado para" id="solicitado-listado" required>

                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Comunidad</label>
                                            <div class="col-sm-9">
                                                <select id="ccaa-listado" th:field="*{idCcaa}" class="form-control choices-single" required>
                                                    <option th:each="ccaa : ${listaCcaa}" th:value="${ccaa.id}" th:text="${ccaa.nombre}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Provincia</label>
                                            <div class="col-sm-9">
                                                <select id="provincia-listado" th:field="*{idProvincia}" class="form-control choices-single" required>
                                                    <option th:each="provincia : ${listaProvinciasCcaaListado}" th:value="${provincia.id}" th:text="${provincia.nombre}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Municipio</label>
                                            <div class="col-sm-9">
                                                <select id="municipio-listado" th:field="*{idMunicipio}"  class="form-control choices-single">
                                                    <option th:each="municipio : ${listaMunicipioListado}" th:value="${municipio.id}" th:text="${municipio.nombre}"></option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Localidad</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="Localidad" th:field="*{localidad}"  id="localidad-listado" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Comentario</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="Comentario" th:field="*{comentario}" id="observaciones-listado" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Tipo ocupación</label>
                                            <div class="col-sm-9">
                                                <select id="tipo-ocupacion-listado" th:field="*{idTipoOcupacion}" class="form-control choices-single" required>
                                                    <option th:each="tipoOcupacion : ${listaTiposOcupacion}" th:value="${tipoOcupacion.id}" th:text="${tipoOcupacion.nombre}"></option>
                                                </select>
                                            </div>
                                        </div>




                                        <div class="sticky">
                                            <button type="submit" id="btn-generar-listado" class="btn btn-primary">Generar presupuesto</button>
                                        </div>

                                </div>
                            </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Fechas presupuesto inicial y final</h5>
                                </div>
                                <div class="card-body text-center">
                                    <div class="mb-3">
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha inicial</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFechaDesdeListado" th:field="*{fechaDesde}" type="text" required class="form-control flatpickr flatpickr-minimum" placeholder="Fecha inicial" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFechaDesdeListado')">X</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha final</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFechaHastaListado" th:field="*{fechaHasta}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha final" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFechaHastaListado')">X</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Fechas individuales</h5>
                                </div>
                                <div class="card-body text-center">
                                    <div class="mb-3">
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha individual</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFecha1" th:field="*{fecha1}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha individual" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFecha1')">X</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha individual</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFecha2" th:field="*{fecha2}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha individual" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFecha2')">X</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha individual</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFecha3" th:field="*{fecha3}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha individual" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFecha3')">X</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha individual</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFecha4" th:field="*{fecha4}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha individual" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFecha4')">X</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha individual</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFecha5" th:field="*{fecha5}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha individual" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFecha5')">X</button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha individual</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFecha6" th:field="*{fecha6}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha individual" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFecha6')">X</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Fecha individual</label>
                                            <div class="col-sm-9">
                                                <div class="input-wrapper">
                                                    <input id="idFecha7" th:field="*{fecha7}" type="text" required class="form-control flatpickr flatpickr-minimum flatpickr-input active" placeholder="Fecha individual" readonly="readonly">
                                                    <button type="button" class="btn btn-outline-secondary clear-btn" onclick="clearFlatpickrDate('idFecha7')">X</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 order-2 order-lg-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Otras opciones</h5>
                                </div>
                                <div class="card-body text-center">
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-sm-3 text-sm-end">Agencias</label>
                                        <div class="col-sm-9">
                                            <select id="agencias"  th:field="*{idsAgencias}" class="form-control choices-multiple selectMultiple" multiple>
                                                <option th:each="agencia : ${listaAgencias}" th:value="${agencia.id}" th:text="${agencia.nombre}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Tipo de artista</label>
                                            <div class="col-sm-9">
                                                <select id="tiposArtista"  th:field="*{idsTipoArtista}" class="form-control choices-multiple selectMultiple" multiple>
                                                    <option th:each="tipoArtista : ${listaTipoArtista}" th:value="${tipoArtista.id}" th:text="${tipoArtista.nombre}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-sm-3 text-sm-end">Comunidades</label>
                                            <div class="col-sm-9">
                                                <select id="ccaa"  th:field="*{idsComunidades}" class="form-control choices-multiple selectMultiple" multiple>
                                                    <option th:each="ccaa : ${listaCcaa}" th:value="${ccaa.id}" th:text="${ccaa.nombre}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </form>
            </div>
        </main>
        <div th:replace="~{fragments/main-template :: footer}"/>

    </div>
</div>

</body>

<script type="text/javascript" th:src="@{/js/comun.js}"></script>
<script type="text/javascript" th:src="@{/js/listados.js}"></script>

</body>
</html>