<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>festia.es</title>
	<meta property="og:title" content="festia.es" />
	<meta property="og:description" content="Plataforma de profesionales del espectáculo" />
	<meta property="og:image" th:src="@{/logo/logo-name-transparente.png}"
		  content="https://festia.es/logo.png"/>
	<meta property="og:url" content="https://festia.es/"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Plataforma de profesionales del espectáculo"/>
	<meta name="author" content="festia.es"/>
	<link rel="manifest" href="/manifest.json"/>

	<div th:replace="~{fragments/main-template :: header-css}"/>
</head>


<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<main class="d-flex w-100 h-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">



						<div class="card">

							<div class="card-body">
								<div class="text-center mt-4">
									<img th:src="@{/logo/logo-name-transparente.png}" alt="Festia Logo"
										 class="img-fluid mb-3" style="max-height: 300px;"/>
								</div>
								<div class="m-sm-4">
									<form th:action="@{/auth/login}" method="post">
										<div class="mb-3">
											<label for="username" class="form-label">Nombre de usuario ó e-mail</label>
											<input id="username" name="username" autofocus="autofocus" class="form-control form-control-lg" type="text" placeholder="Introduce nombre de usuario" />
										</div>
										<div th:if="${error}" class="alert alert-danger" role="alert"
											 th:text="${error}"></div>
										<div class="mb-3">
											<label for="password" class="form-label">Contraseña</label>
											<input id="password" name="password" class="form-control form-control-lg" type="password" placeholder="Introduce tu contraseña" />
											<div class="mt-3">
												<a th:href="@{/auth/remember-password}">He olvidado mi contraseña</a>
											</div>
										</div>
										<div class="text-center mt-3">
											 <button type="submit" class="btn btn-lg btn-primary">Iniciar sesión</button>
										</div>
										<div class="text-center mt-3">
											<a class="btn btn-outline-primary" th:href="@{/auth/registration}">Nuevo usuario</a>
										</div>

									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

<!--	<script th:src="@{/js/app.js}"></script>-->
<!--	<script th:src="@{/js/service-worker.js}"></script>-->
	</body>

   
</html>


