<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""><head>
    <div th:replace="~{fragments/main-template :: header-css}"/>

</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
<div class="wrapper">

    <div th:replace="~{fragments/main-template :: sidebar}"/>
    <div class="main">
        <div th:replace="~{fragments/modal-confirmacion :: modal-confirmacion}"/>
        <div th:replace="~{fragments/main-template :: navbar}"/>
        <main class="content">
            <div class="container-fluid p-0">
                <div >
                    <a th:href="@{/ocupacion/list}" class="btn btn-primary mt-n1"><i
                            class="fas fa-arrow-left"></i> Ocupaciones</a>
                </div>
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle"></h1>
                </div>
                <div th:if="${message}" th:class="${'alert alert-' + alertClass+ ' alert-dismissible fade show'}" role="alert">
                    <div class="alert-message">
                        <strong th:text="${message}">Hello there!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="card">

                            <div class="card-header">
                                <h5 class="card-title" >Ocupación</h5>
                            </div>
                            <div class="card-body">
                                <div th:replace="~{fragments/ocupaciones-form :: ocupaciones-form}"/>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <div th:replace="~{fragments/main-template :: footer}"/>

    </div>
</div>
<script type="text/javascript" th:src="@{/js/comun.js}"></script>
<script type="text/javascript" th:src="@{/js/ocupaciones.js}"></script>

</body>

</html>