<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>festia.es</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <div th:replace="~{fragments/main-template :: header-css}"/>

</head>
<body>
<div class="wrapper">

    <div th:replace="~{fragments/main-template :: sidebar}"/>
    <div class="main">

        <div th:replace="~{fragments/main-template :: navbar}"/>
        <main class="content">
            <div class="container-fluid p-0">

                <div th:if="${message}" th:class="${'alert alert-' + alertClass+ ' alert-dismissible fade show'}" role="alert">
                    <div class="alert-message">
                        <strong th:text="${message}">Hello there!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="card">

                            <div class="card-header">
                                <h5 class="card-title" >Perfil usuario</h5>
                                <div class="text-center">
                                    <img class="rounded-circle img-responsive mt-2" width="128" height="128"
                                         th:src="${usuarioEdicionDTO.imagen != null ? usuarioEdicionDTO.imagen : '/img/avatars/avatar.jpg'}" alt="Unsplash">
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1"> <span class="fas fa-user fa-fw me-1"></span> <a href="#"  th:text="${usuarioEdicionDTO.nombre}"></a></li>

                                    <li class="mb-1" th:if="${usuarioEdicionDTO.email!=null && usuarioEdicionDTO.email!=''}"><span class="fas fa-envelope fa-fw me-1"></span> <a th:href="${'mailto:'+ usuarioEdicionDTO.email}"  th:text="${usuarioEdicionDTO.email}"></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <div th:replace="~{fragments/main-template :: footer}"/>

    </div>
</div>

</body>

</body>
</html>

